   .data-table-container {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .data-table-container .MuiPaper-root {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .data-table th,
  .data-table td {
    text-align: center;
  }
  
  .data-table th {
    background-color: #3498db;
    color: white;
  }
  
  .data-table tbody tr:hover {
    background-color: #a4d87e;
  }

 
  .switch-label {
    
    display: flex;
    align-items: center;
  }
  

  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
 